PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/schools
JWT_SECRET=replace_with_a_long_random_secret_for_production
JWT_EXPIRES_IN=7d
NODE_ENV=development

# Multi-school database mapping
CITY_SCHOOL_DB=schools
JINNAH_SCHOOL_DB=jinnah_school_harnoli
SHINING_STAR_SCHOOL_DB=shining_star_school_piplan
